@use "sass:meta";
@use "../variables" as *;

@each $name, $shades in $colors {
  @if meta.type-of($shades) == "map" {
    @each $shade, $color in $shades {
      .text-#{$name}-#{$shade} {
        color: #{$color};
      }
      .hover\:text-#{$name}-#{$shade}:hover {
        color: #{$color};
      }
      .bg-#{$name}-#{$shade} {
        background-color: #{$color};
      }
      .hover\:bg-#{$name}-#{$shade}:hover {
        background-color: #{$color};
      }
      .border-#{$name}-#{$shade} {
        border-color: #{$color};
      }
    }
  } @else {
    .text-#{$name} {
      color: #{$shades};
    }
    .bg-#{$name} {
      background-color: #{$shades};
    }
    .border-#{$name} {
      border-color: #{$shades};
    }
  }
}
