#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  padding-top: spacing(5);
  padding-bottom: calc(#{spacing(4)} + 100px);
}

@include media("sm") {
  .page {
    width: calc(100vw - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
