@import "~@fider/assets/styles/variables.scss";

.c-notification-indicator {
  position: relative;

  .c-notification-indicator-unread-counter {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: get("colors.red.500");
    color: white !important;
    font-size: 10px;
    font-weight: bold;
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.is-max-count {
      right: -16px;
    }
  }
}

.c-notifications-container {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  @include media("lg") {
    min-width: 400px;
  }
  
  .overflow-y-auto {
    overflow-y: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
}
