@import "~@fider/assets/styles/variables.scss";

.c-vote-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 768px) {
    flex-direction: row;
    gap: spacing(2);
  }
  
  &__button {
    font-size: get("font.size.lg");
    width: sizing(11);
    font-weight: get("font.weight.bold");
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    padding: 3px 0 8px 0;
    color: get("colors.gray.700");
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      color: get("colors.gray.400");
      margin-bottom: -2px;
    }

    &:hover:not(&--disabled) {
      color: get("colors.primary.base");
      svg {
        color: get("colors.primary.base");
      }
    }
    &--voted {
      color: get("colors.primary.base");
      svg {
        color: get("colors.primary.base");
      }
    }

    &--down {
      padding: 3px 0 8px 0;
      
      
      &:hover:not(.c-vote-counter__button--disabled) {
        color: get("colors.red.500");
        svg {
          color: get("colors.red.500");
        }
      }
      
      &.c-vote-counter__button--voted {
        color: get("colors.red.500");
        svg {
          color: get("colors.red.500");
        }
      }
    }

    &--disabled {
      @include disabled();
    }
  }
  
  &__count {
    font-weight: get("font.weight.bold");
    
    &--negative {
      color: get("colors.red.500");
    }
    
    &--neutral {
      color: get("colors.gray.700");
    }
  }
}