@use "~@fider/assets/styles/variables" as *;

.c-queue-indicator {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: spacing(3);
  cursor: pointer;
  
  &:hover {
    svg {
      color: get("colors.gray.700");
    }
  }

  .c-queue-indicator-counter {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: get("colors.green.500");
    color: white !important;
    font-size: 10px;
    font-weight: bold;
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-max-count {
      right: -16px;
    }
  }
}

