@use "~@fider/assets/styles/variables" as *;

.c-public-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.c-public-layout__content {
  flex: 1 0 auto;
}

.c-footer {
  flex-shrink: 0;
}

