@use "variables/functions" as fn;
@use "variables/colors" as *;
@use "variables/spacing" as *;
@use "variables/sizing" as *;
@use "variables/text" as *;

@forward "variables/colors";
@forward "variables/spacing";
@forward "variables/sizing";
@forward "variables/text";

$all: (
  colors: $colors,
  font: $font,
  border: (
    radius: (
      small: 4px,
      medium: 6px,
      large: 8px,
      full: 999px,
    ),
  ),
);

@function get($key, $map: $all) {
  $keys: fn.str-explode($key, ".");

  @if not fn.deep-map-check($map, $keys...) {
    @error 'The argument $map: `#{$map}` doesn\'t has some of the $keys: `#{$keys}`!';
  }

  @return fn.deep-map-get($map, $keys...);
}

$medias: "sm", "md", "lg", "xl";
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin media($media) {
  @if $media == "sm" {
    @media only screen and (max-width: #{$md-width}) {
      @content;
    }
  } @else if $media == "md" {
    @media only screen and (min-width: #{$md-width}) {
      @content;
    }
  } @else if $media == "lg" {
    @media only screen and (min-width: #{$lg-width}) {
      @content;
    }
  } @else if $media == "xl" {
    @media only screen and (min-width: #{$xl-width}) {
      @content;
    }
  }
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: 0.45 !important;
  background-image: none !important;
  pointer-events: none !important;
}
