@use "~@fider/assets/styles/variables" as *;

.c-mention-selector {
  position: absolute;
  z-index: 1000;
  width: 200px;
  border-radius: get("border.radius.small");
  background-color: get("colors.white");
  border: 1px solid get("colors.gray.200");
  padding: spacing(2);
}
