@use "~@fider/assets/styles/variables" as *;

.c-vote-section {
  width: 100%;
  
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: spacing(4);
    width: 100%;
    
    @media (max-width: 768px) {
      gap: spacing(2);
    }
  }

  &__count-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: sizing(10);
    text-align: center;
    
    @media (max-width: 768px) {
      min-width: sizing(8);
    }
  }

  &__count {
    font-size: get("font.size.2xl");
    font-weight: get("font.weight.bold");
    min-width: sizing(10);
    text-align: center;

    &--positive {
      color: get("colors.green.500");
    }

    &--negative {
      color: get("colors.red.500");
    }

    &--neutral {
      color: get("colors.gray.500");
    }
  }

  &__button {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    @media (min-width: 769px) {
      max-width: 30%;
    }
    
    @media (max-width: 768px) {
      font-size: get("font.size.sm");
    }
    
    &--up {
      &.voted {
        color: get("colors.green.500");
      }
    }
    
    &--down {
      &.voted {
        color: get("colors.red.500");
      }
    }
  }

  &__bar {
    height: 4px;
    background-color: get("colors.red.500");
    margin-top: spacing(2);
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
  }

  &__bar-upvotes {
    height: 100%;
    background-color: get("colors.green.500");
  }

  &__engagement {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: spacing(1);
    font-style: italic;
  }
}