@use "~@fider/assets/styles/variables" as *;

.c-webhook-form {
  &__content {
    font-family: $font-code;
  }

  &__preview {
    pre {
      white-space: pre-wrap;
      font-size: get("font.size.sm");
    }
  }
}
