@use "~@fider/assets/styles/variables" as *;
@use "~@fider/assets/styles/skeleton";

.c-posts-container {
  &__post {
    overflow-wrap: anywhere;
    &.animate-pulse {
      .skeleton {
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      }
    }
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
} 